

.siteHeader {
    width: auto;
    left: 0 !important;
    right: 0 !important;
    padding: 0px 15px;
    border: 0px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: -3px 0px 12px 0px var(--foreground);
    z-index: 1;
    background: var(--main-color);
    position: fixed;
    height: var(--site-header-height);
    top: 0px;
    box-sizing: border-box;
    left: 0px;
    right: 0px;
    z-index: 1;
        

    & *{
        color: var(--foreground);
        text-decoration: none;
    }

    nav {
        border: 0px solid black;
        width: auto;
        height: 100%;
        padding:0 35px 0 0;
        margin-left: auto;
    }

    nav ul {
        width: fit-content;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0 0 0 auto;
        border: 0px solid black;
        padding: 0;

        li {
            display: inline-block;
            border: 0px solid black;
            height: 100%;
            width: fit-content;
        }

        a {
            white-space: nowrap;
            text-decoration: none;
            color: var(--foreground);
            flex: 1;
            padding: 0 0px;
            width: 95px;
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:hover {
                font-size: larger;
                transition: font-size 0.2 ease-in-out;
            }

            transition: font-size 0.1s ease-out;
        }
    }
}


@media (max-width: 800px) {
  .siteHeader { 

    li {
        a {
            font-size: .9rem;
        }
    }

    nav {
        padding: 0;
    }
  }
}