

.footer {
    height: 90px;
    margin: 0;
    padding: 0 20px;
    background: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    p {
        margin: 0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 0 10px;
        }
    }
}

@media (max-width: 800px) {
    .footer {
        padding: 15px 0;
        flex-direction: column-reverse;
        gap: 10px;
        ul {
            flex-direction: row;
        }
        font-size: .9rem;
    }
}